In [3]:
!pip install dash

Collecting dash
  Downloading dash-1.19.0.tar.gz (75 kB)
Requirement already satisfied: Flask>=1.0.4 in e:\programs\anaconda\lib\site-packages (from dash) (1.1.2)
Collecting flask-compress
  Downloading Flask_Compress-1.8.0-py3-none-any.whl (7.2 kB)
Collecting plotly
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
Collecting dash_renderer==1.9.0
  Downloading dash_renderer-1.9.0.tar.gz (1.0 MB)
Collecting dash-core-components==1.15.0
  Downloading dash_core_components-1.15.0.tar.gz (3.5 MB)
Collecting dash-html-components==1.1.2
  Downloading dash_html_components-1.1.2.tar.gz (188 kB)
Collecting dash-table==4.11.2
  Downloading dash_table-4.11.2.tar.gz (1.8 MB)
Requirement already satisfied: future in e:\programs\anaconda\lib\site-packages (from dash) (0.18.2)
Requirement already satisfied: Werkzeug>=0.15 in e:\programs\anaconda\lib\site-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in e:\programs\anaconda\lib\site-packages (from Flask>=1.0.4->dash) (2.11.2)
Requirement already satisfied: click>=5.1 in e:\programs\anaconda\lib\site-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: itsdangerous>=0.24 in e:\programs\anaconda\lib\site-packages (from Flask>=1.0.4->dash) (1.1.0)
Collecting brotli
  Downloading Brotli-1.0.9-cp38-cp38-win_amd64.whl (365 kB)
Requirement already satisfied: six in e:\programs\anaconda\lib\site-packages (from plotly->dash) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Requirement already satisfied: MarkupSafe>=0.23 in e:\programs\anaconda\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (1.1.1)
Building wheels for collected packages: dash, dash-renderer, dash-core-components, dash-html-components, dash-table, retrying
  Building wheel for dash (setup.py): started
  Building wheel for dash (setup.py): finished with status 'done'
  Created wheel for dash: filename=dash-1.19.0-py3-none-any.whl size=84016 sha256=a740ad7e6e18e499d6a8ca22b87582de2ab88cf16497acb0d0d541e807fd7de9
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\e7\27\2f\a9f9bf858843b5365bcb311a80f0b2379737caf4ec50b2ae3a
  Building wheel for dash-renderer (setup.py): started
  Building wheel for dash-renderer (setup.py): finished with status 'done'
  Created wheel for dash-renderer: filename=dash_renderer-1.9.0-py3-none-any.whl size=1014874 sha256=1f23b2d95f216112a09172fbea3808b9e0d804afa519fb0b00a599452e93c73f
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\08\94\09\e11ba8ae5d97e1c8ff5be0ac1f7cf42642eec6ea94ed1e4b44
  Building wheel for dash-core-components (setup.py): started
  Building wheel for dash-core-components (setup.py): finished with status 'done'
  Created wheel for dash-core-components: filename=dash_core_components-1.15.0-py3-none-any.whl size=3527018 sha256=7c8b1b13c1af1a0cb19b04c6824ca862c138322fd18b12babb58b27510a2e417
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\e3\e6\0e\759ca580c568aad2436521fa6df67f53a141dc1ab8f040c4c7
  Building wheel for dash-html-components (setup.py): started
  Building wheel for dash-html-components (setup.py): finished with status 'done'
  Created wheel for dash-html-components: filename=dash_html_components-1.1.2-py3-none-any.whl size=427836 sha256=532581c095942936b588e90672e6af36b73f313ae22e6194ff081569e73718d9
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\8a\bc\a8\7ad1d354777cfe77413fd7a092e07d7cc82f88f98997f4c463
  Building wheel for dash-table (setup.py): started
  Building wheel for dash-table (setup.py): finished with status 'done'
  Created wheel for dash-table: filename=dash_table-4.11.2-py3-none-any.whl size=1839873 sha256=830638716b6f02916039f5fce5cb1570f544ef8d3558de3bd857645065e4e231
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\cc\1d\a0\720dcf854e410eddbe44f8434f4d3a6332fdd085178eeac4f9
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11434 sha256=cf4864b1b01ea41efbbf30ff687bfbaf334b0894b65de7c897b8311c58e02aad
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\c4\a7\48\0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56
Successfully built dash dash-renderer dash-core-components dash-html-components dash-table retrying
Installing collected packages: brotli, flask-compress, retrying, plotly, dash-renderer, dash-core-components, dash-html-components, dash-table, dash
Successfully installed brotli-1.0.9 dash-1.19.0 dash-core-components-1.15.0 dash-html-components-1.1.2 dash-renderer-1.9.0 dash-table-4.11.2 flask-compress-1.8.0 plotly-4.14.3 retrying-1.3.3

In [246]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5979 sha256=eed59353f216dba82c69c5aa58463b8d8046d49aad5580a94cdb3c6c76329936
  Stored in directory: c:\users\yuxia\appdata\local\pip\cache\wheels\1b\02\6c\a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [247]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
from apyori import apriori

In [62]:
deptinfo_dd = dd.read_csv('Dillards POS/deptinfo.csv',header=None)

In [63]:
skstinfo_dd = dd.read_csv('Dillards POS/skstinfo.csv',header=None)

In [70]:
strinfo_df = pd.read_csv('Dillards POS/strinfo.csv',header=None)
strinfo_df=strinfo_df.iloc[:,:-1]

strinfo_df_cols = ['STORE', 'CITY', 'STATE', 'ZIP']
strinfo_df.columns=strinfo_df_cols

In [76]:
strinfo_df[strinfo_df['STORE'] == 802]

    STORE                  CITY STATE    ZIP
51    802  CLEARWATER              FL  33761

In [117]:
transact_cols = ['SKU', 'STORE', 'REGISTER', 'TRANNUM', 'SEQ','SALEDATE', 'STYPE', 'QUANTITY', 'ORGPRICE','TRANSAC_PRICE', 'AMT','INTERID','MIC']
trnsact_dd = dd.read_csv('Dillards POS/trnsact.csv', header=None)
trnsact_dd=trnsact_dd.iloc[:,:-1]
trnsact_dd.columns=transact_cols

In [389]:
trnsact_dd['SALEDATE'].min().compute()

'2004-08-01'

In [85]:
trnsact_dd['SALEDATE'].max().compute()

'2005-08-27'

In [125]:
trnsact_dd_used = trnsact_dd[trnsact_dd['STYPE'] == 'P']

In [126]:
trnsact_dd_used.shape[0].compute()

111649094

In [96]:
trnsact_dd.shape[0].compute()

120916896

date insight
R or P insight

In [98]:
trnsact_dd_rand=trnsact_dd.sample(frac=0.01)

In [100]:
trnsact_dd_rand.shape[0].compute()

1209174

In [119]:
trnsact_dd_rand

Dask DataFrame Structure:
                   SKU  STORE notsure REGISTER TRANNIUM SALEDATE     SEQ INTERID    STYPE QUANTITY ORGPRICE    AMT    MIC notsure2
npartitions=178
                 int64  int64   int64    int64    int64   object  object   int64  float64  float64  float64  int64  int64    int64
                   ...    ...     ...      ...      ...      ...     ...     ...      ...      ...      ...    ...    ...      ...
...                ...    ...     ...      ...      ...      ...     ...     ...      ...      ...      ...    ...    ...      ...
                   ...    ...     ...      ...      ...      ...     ...     ...      ...      ...      ...    ...    ...      ...
                   ...    ...     ...      ...      ...      ...     ...     ...      ...      ...      ...    ...    ...      ...
Dask Name: sample, 534 tasks

In [118]:
trnsact_dd.tail()

,SKU,STORE,REGISTER,TRANNUM,SEQ,SALEDATE,STYPE,QUANTITY,ORGPRICE,TRANSAC_PRICE,AMT,INTERID,MIC
401581,9999997,7507,750,2800,0,2005-04-23,P,1,39.0,39.00,39.00,593900116,395
401582,9999997,7907,790,3200,0,2005-05-03,P,1,39.0,39.00,39.00,502600061,395
401583,9999997,7907,800,700,0,2005-05-04,R,1,39.0,39.00,39.00,600900066,395
401584,9999997,7907,800,700,0,2005-05-04,P,1,39.0,39.00,39.00,601000066,395
401585,9999997,7907,800,4100,257808914,2005-07-31,P,1,39.0,26.13,26.13,658600082,395

In [131]:
len(trnsact_dd['TRANNUM'].unique())

5804

In [132]:
len(trnsact_dd['STORE'].unique())

332

In [133]:
len(trnsact_dd['REGISTER'].unique())

300

In [134]:
len(trnsact_dd['MIC'].unique())

882

In [388]:
len(trnsact_dd['SKU'].unique())

714499

In [138]:
trnsact_dd.drop_duplicates(['TRANNUM','STORE']).shape[0].compute()

213634

In [139]:
one_day_samples = trnsact_dd[trnsact_dd['SALEDATE'] == '2005-05-04']

In [141]:
one_day_samples.head()

,SKU,STORE,REGISTER,TRANNUM,SEQ,SALEDATE,STYPE,QUANTITY,ORGPRICE,TRANSAC_PRICE,AMT,INTERID,MIC
1525,387,8004,380,1000,0,2005-05-04,P,1,79.00,79.00,79.00,395900005,696
4501,788,5402,580,2500,659009310,2005-05-04,P,1,18.00,18.00,18.00,637100006,950
6766,1634,5503,370,1900,0,2005-05-04,P,1,60.00,60.00,60.00,917400008,2
7700,2062,809,590,1900,0,2005-05-04,P,1,21.50,21.50,21.50,878800009,643
7833,2186,1304,540,200,0,2005-05-04,P,1,23.75,23.75,23.75,127900010,532

In [143]:
trnsact_dd_used.drop_duplicates(['TRANNUM','STORE','SALEDATE']).shape[0].compute()

9991819

In [144]:
trnsact_dd_used.drop_duplicates(['STORE','REGISTER','TRANNUM','SALEDATE']).shape[0].compute()

58882717

In [145]:
trnsact_dd_used.drop_duplicates(['STORE','REGISTER','SALEDATE']).shape[0].compute()

6074157

In [173]:
association_used_cols = ['TRANNUM','STORE','SALEDATE', 'SKU']

In [174]:
trnsact_dd_used=trnsact_dd_used[association_used_cols]

In [177]:
trnsact_dd_used = trnsact_dd_used.drop_duplicates(association_used_cols)

In [179]:
trnsact_pd_used = trnsact_dd_used.compute()

In [180]:
trnsact_pd_used.to_csv('trnsact_pd_used.csv')

In [182]:
transact_id_cols = ['TRANNUM','STORE','SALEDATE']

In [183]:
transact_group = trnsact_pd_used.groupby(transact_id_cols)

In [185]:
group_index_array=np.arange(transact_group.ngroups)

In [194]:
np.random.seed(10)
np.random.shuffle(group_index_array)
sample_n = int((transact_group.ngroups+1)/100)

In [195]:
sample_n

99918

In [196]:
trnsact_pd_sampled = trnsact_pd_used[transact_group.ngroup().isin(group_index_array[:(sample_n)])]

In [197]:
trnsact_pd_used.shape[0]

103666451

In [198]:
trnsact_pd_sampled.shape[0]

1032318

In [199]:
trnsact_pd_sampled.to_csv('trnsact_pd_sampled.csv')

In [200]:
trnsact_pd_sampled

        TRANNUM  STORE    SALEDATE      SKU
18         9800   2804  2005-04-23        3
315        2400   8507  2005-07-25      156
701         800   1207  2004-08-12      268
921        3900   3407  2005-08-05      348
1106        600   2202  2004-09-08      387
...         ...    ...         ...      ...
401117     7300   9402  2004-12-04  9999950
401231     4300   9503  2005-04-14  9999950
401254     8300   9504  2005-04-23  9999950
401354     1200   9704  2004-10-14  9999950
401510    10300   2707  2004-09-03  9999970

[1032318 rows x 4 columns]

In [204]:
trnsact_pd_sampled_grouped = trnsact_pd_sampled.groupby(transact_id_cols)

In [252]:
trnsact_pd_sampled_dict = {}
i = 0
for name, group in trnsact_pd_sampled_grouped:
    sub_dict = {}
    for SKU in group['SKU']:
        sub_dict[SKU] = True
    trnsact_pd_sampled_dict[i] = sub_dict
    i+=1

In [212]:
n_transactions= trnsact_pd_sampled_grouped.ngroups

In [ ]:
len(SKU_trans)

In [235]:
def support_count(SKU_list):
    count = 0
    for value in trnsact_pd_sampled_dict.values():
        support = True
        for SKU in SKU_list:
            if SKU not in value.keys():
                support = False
                break
        if support:
            count+=1
    return count

def MIS(SKU_list, n_transactions):
    return support_count(SKU_list)/n_transactions

In [236]:
support_count_dict = {}

In [228]:
SKU_count = trnsact_pd_sampled['SKU'].value_counts()

In [420]:
SKU_considered = np.array(SKU_count[SKU_count>=10].index)

In [421]:
len(SKU_considered)

14790

In [370]:
trnsact_pd_slelected_SKU_dict = {}
i = 0
for name, group in trnsact_pd_sampled_grouped:
    sub_dict = {}
    for SKU in group['SKU']:
        if SKU in SKU_considered:
            sub_dict[SKU] = True
    trnsact_pd_slelected_SKU_dict[i] = sub_dict
    i+=1

In [371]:
SKU_trans = []
for value in trnsact_pd_slelected_SKU_dict.values():
    SKU_trans.append([str(i) for i in list(value.keys())])

In [417]:
len(SKU_trans)

99918

In [401]:
association_rules = apriori(SKU_trans, min_support=0.0001, min_confidence=0.1, min_lift=4, min_length=2)

In [374]:
association_results_list = list(association_rules)

In [375]:
len(association_results_list)

1665

In [380]:
association_rules_dict = {}
index = 1
for item in association_results_list:
    
    result_array = [set(item[2][0][0]), set(item[2][0][1]), item[1], item[2][0][2], item[2][0][3]]
    association_rules_dict[index] = result_array
    index += 1
association_rules_df = pd.DataFrame.from_dict(association_rules_dict, orient='index',
                                              columns = ['Base SKU(s)','Assoc SKU(s)', 'Support', 'Confidence', 'Lift'])

In [381]:
association_rules_df = association_rules_df.sort_values('Lift', ascending = False)

In [382]:
new_index = np.arange(1,association_rules_df.shape[0]+1)
association_rules_df = association_rules_df.set_index(new_index)

In [383]:
SKUs_involved = set()
for index, rows in association_rules_df.iterrows():
    SKUs = list(rows['Base SKU(s)']) + list(rows['Base SKU(s)'])
    for SKU in SKUs:
        if SKU not in SKUs_involved:
            SKUs_involved.add(SKU)
    if len(SKUs_involved) > 100:
        print('Cut row index:', index)
        print(len(SKUs_involved))
        break

Cut row index: 135
101

In [397]:
pd.DataFrame(list(SKUs_involved), columns = ['SKU']).to_excel('100SKUs_recommended.xlsx')

In [384]:
association_rules_df.to_excel('association_rules_df_2.xlsx')

In [387]:
association_rules_df

            Base SKU(s)        Assoc SKU(s)  Support  Confidence         Lift
1             {2169772}           {4599772}  0.00010    1.000000  7686.000000
2             {2009772}           {4569772}  0.00010    0.769231  6405.000000
3             {2068302}  {2548302, 3198302}  0.00011    0.647059  5877.529412
4             {2541752}  {3181752, 9439904}  0.00012    0.750000  5764.500000
5              {687171}            {797171}  0.00011    0.687500  5724.468750
...                 ...                 ...      ...         ...          ...
1661          {8010668}           {4628597}  0.00014    0.138614     4.030856
1662          {2808964}           {4628597}  0.00012    0.137931     4.010999
1663           {539951}           {4628597}  0.00020    0.137931     4.010999
1664          {1589751}           {4628597}  0.00012    0.137931     4.010999
1665  {4108011, 803921}           {4628597}  0.00015    0.137615     4.001800

[1665 rows x 5 columns]

Found that high lift all have close to 0.0001 threshold support.

Try to focus on SKUs that are frequently bought (in at least 0.1% of baskets)

In [422]:
SKU_considered2 = np.array(SKU_count[SKU_count>=100].index)
len(SKU_considered2)

533

In [423]:
trnsact_pd_slelected_SKU_dict2 = {}
i = 0
for name, group in trnsact_pd_sampled_grouped:
    sub_dict = {}
    for SKU in group['SKU']:
        if SKU in SKU_considered2:
            sub_dict[SKU] = True
    trnsact_pd_slelected_SKU_dict2[i] = sub_dict
    i+=1

In [425]:
SKU_trans2 = []
for value in trnsact_pd_slelected_SKU_dict2.values():
    SKU_trans2.append([str(i) for i in list(value.keys())])
len(SKU_trans2)

99918

In [431]:
association_rules2 = apriori(SKU_trans2, min_support=0.0001, min_confidence=0.1, min_lift=4, min_length=2)

In [432]:
association_results_list2 = list(association_rules2)

In [433]:
len(association_results_list2)

390

In [434]:
association_rules_dict2 = {}
index = 1
for item in association_results_list2:
    
    result_array = [set(item[2][0][0]), set(item[2][0][1]), item[1], item[2][0][2], item[2][0][3]]
    association_rules_dict2[index] = result_array
    index += 1
association_rules_df2 = pd.DataFrame.from_dict(association_rules_dict2, orient='index',
                                              columns = ['Base SKU(s)','Assoc SKU(s)', 'Support', 'Confidence', 'Lift'])

In [435]:
association_rules_df2

            Base SKU(s)        Assoc SKU(s)  Support  Confidence        Lift
1             {1009332}           {7382655}  0.00025    0.136612   33.292683
2             {1047565}            {267565}  0.00023    0.146497  100.258005
3             {1047565}           {4108011}  0.00020    0.127389    4.272712
4              {136343}            {106343}  0.00011    0.104762   37.926087
5             {5453386}            {106343}  0.00023    0.110577   40.031250
..                  ...                 ...      ...         ...         ...
386   {803921, 3524026}  {3898011, 3978011}  0.00019    0.200000   63.845367
387  {3898011, 3559555}   {803921, 3978011}  0.00010    0.142857   99.818182
388  {4108011, 3559555}   {803921, 3978011}  0.00010    0.119048   83.181818
389  {3690654, 4628597}  {3968011, 3898011}  0.00014    0.186667   66.374947
390   {803921, 3690654}  {3968011, 3898011}  0.00014    0.311111  110.624911

[390 rows x 5 columns]

In [436]:
association_rules_df2 = association_rules_df2.sort_values('Lift', ascending = False)
new_index2 = np.arange(1,association_rules_df2.shape[0]+1)
association_rules_df2 = association_rules_df2.set_index(new_index2)

In [437]:
SKUs_involved2 = set()
for index, rows in association_rules_df2.iterrows():
    SKUs = list(rows['Base SKU(s)']) + list(rows['Base SKU(s)'])
    for SKU in SKUs:
        if SKU not in SKUs_involved2:
            SKUs_involved2.add(SKU)
    if len(SKUs_involved2) > 100:
        print('Cut row index:', index)
        print(len(SKUs_involved2))
        break

Cut row index: 286
101

In [438]:
pd.DataFrame(list(SKUs_involved2), columns = ['SKU']).to_excel('100SKUs_recommended_individual_min1e-3_support.xlsx')

In [439]:
association_rules_df2.to_excel('association_rules_df_individual_min1e-3_support.xlsx')

Project code ends here

In [ ]:
for item in association_results:
    if len(item[0])>4:
        # first index of the inner list
        # Contains base item and add item
        pair = item[0] 
        items = [x for x in pair]
        print("Rule: " + str(item[2][0][0]) + " -> " + str(item[2][0][1]))

        #second index of the inner list
        print("Support: " + str(item[1]))

        #third index of the list located at 0th
        #of the third index of the inner list

        print("Confidence: " + str(item[2][0][2]))
        print("Lift: " + str(item[2][0][3]))
        print("=====================================")

In [319]:
len(SKUs_involved)

178

In [317]:
for item in association_results:
    if len(item[0])>3:
        # first index of the inner list
        # Contains base item and add item
        pair = item[0] 
        items = [x for x in pair]
        print("Rule: " + str(item[2][0][0]) + " -> " + str(item[2][0][1]))

        #second index of the inner list
        print("Support: " + str(item[1]))

        #third index of the list located at 0th
        #of the third index of the inner list

        print("Confidence: " + str(item[2][0][2]))
        print("Lift: " + str(item[2][0][3]))
        print("=====================================")

Rule: frozenset({'264715', '3524026'}) -> frozenset({'3898011', '3978011'})
Support: 0.00012009848075421846
Confidence: 0.15384615384615385
Lift: 49.11182108626198
=====================================
Rule: frozenset({'3898011', '2726578'}) -> frozenset({'803921', '3978011'})
Support: 0.00012009848075421846
Confidence: 0.125
Lift: 87.3409090909091
=====================================
Rule: frozenset({'348498', '3524026'}) -> frozenset({'3898011', '3978011'})
Support: 0.00010008206729518205
Confidence: 0.16666666666666666
Lift: 53.204472843450475
=====================================
Rule: frozenset({'3559555', '3524026'}) -> frozenset({'3898011', '3978011'})
Support: 0.0002001641345903641
Confidence: 0.2564102564102564
Lift: 81.85303514376996
=====================================
Rule: frozenset({'3559555', '3524026'}) -> frozenset({'803921', '3978011'})
Support: 0.00011009027402470025
Confidence: 0.14102564102564102
Lift: 98.53846153846153
=====================================
Rule: frozenset({'3582465', '3524026'}) -> frozenset({'3898011', '3978011'})
Support: 0.00010008206729518205
Confidence: 0.23255813953488372
Lift: 74.23879931644252
=====================================
Rule: frozenset({'4208011', '3524026'}) -> frozenset({'3898011', '3978011'})
Support: 0.00012009848075421846
Confidence: 0.1935483870967742
Lift: 61.78583943110378
=====================================
Rule: frozenset({'803921', '3524026'}) -> frozenset({'3898011', '3978011'})
Support: 0.0001901559278608459
Confidence: 0.2
Lift: 63.845367412140575
=====================================
Rule: frozenset({'3898011', '3559555'}) -> frozenset({'803921', '3978011'})
Support: 0.00010008206729518205
Confidence: 0.14285714285714285
Lift: 99.81818181818181
=====================================
Rule: frozenset({'4108011', '3559555'}) -> frozenset({'803921', '3978011'})
Support: 0.00010008206729518205
Confidence: 0.11904761904761904
Lift: 83.18181818181817
=====================================
Rule: frozenset({'3690654', '4628597'}) -> frozenset({'3968011', '3898011'})
Support: 0.00014011489421325487
Confidence: 0.18666666666666668
Lift: 66.37494661921708
=====================================
Rule: frozenset({'803921', '3690654'}) -> frozenset({'3968011', '3898011'})
Support: 0.00014011489421325487
Confidence: 0.3111111111111111
Lift: 110.62491103202848
=====================================